* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Dosis", sans-serif;
  font-weight: 300;
  font-size: 18px;
  --little-p: 0.8rem;
  --little-p-height: 1rem;
  --normal-p: 1rem;
  --normal-h1: 2rem;
  --normal-h1-weight: 300;
  --medium-h1: 3rem;
  --medium-h1-weight: 400;
  --large-h1: 4rem;
  --large-h1-weight: 600;
}
:root {
  --color-primary1: #f8f8f8;
  --color-primary2: #cdd6df;
  --color-secondary1: #111234;
  --color-secondary2: #204787;
  --color-accent1: #d45422;
}
html {
  background-color: var(--color-primary1);
  & h1 {
    color: var(--color-secondary1);
    font-size: var(--normal-h1);
    margin: 1rem 0 0.5rem 1rem;
  }
  & h2 {
    color: var(--color-secondary1);
    font-size: 1.8rem;
    margin: 1rem 0 0.5rem 1rem;
  }

  & h3 {
    color: var(--color-secondary2);
    font-size: 1.1rem;
    margin: 1rem 0 0.5rem 1rem;
  }
  & h4 {
    color: var(--color-secondary2);
    font-size: 1rem;
    margin: 1rem 0 0.5rem 1rem;
  }
  & p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: var(--color-secondary1);
    font-size: var(--normal-p);
    opacity: 70%;
    line-height: 1.4rem;
    margin: 1rem 1rem 0.5rem 1rem;
  }
}

/* Navigation */
.burger {
  display: none;
  cursor: pointer;
}
.nav {
  display: block;
  width: 25px;
  height: 2px;
  margin: 6px;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-accent1);
}
.nav_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  padding: 1.25rem;
}

.nav-button {
  display: inline-block;
  margin: 0 2.625rem;
  padding-bottom: 0.375rem;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  color: var(--color-secondary2);
  border-bottom: 2px solid var(--color-secondary2);
}

.nav-button:hover {
  transform: scale(1.05);
  color: var(--color-secondary1);
}
.nav_active {
  border-bottom: 2px solid var(--color-accent1);
}

@media (max-width: 770px) {
  header {
    display: grid;
    height: 5rem;
  }
  .burger {
    display: block;
    margin: 1rem;
    position: fixed;
    justify-self: end;
  }

  .burger.active .nav:nth-child(2) {
    opacity: 0;
  }

  .burger.active .nav:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .burger.active .nav:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav_menu {
    padding: 0;
  }
  .nav-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    position: fixed;
    right: -100%;
    width: 100%;
    height: 100vh;
    transition: 0.3s;
    padding-top: 5em;
    background-color: var(--color-primary2);
  }
  .nav-buttons.active {
    right: 0;
  }
  .nav-button {
    display: inline-block;
    margin: 0 0.625rem;
    padding: 1rem;
    width: fit-content;
    height: fit-content;
    border-bottom: 2px solid var(--color-secondary2);
  }
  .nav_active {
    border-bottom: 2px solid var(--color-accent1);
  }
  .hide {
    display: none;
  }
}

/* Styletile */
@media (min-width: 1000px) {
  .styletile_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.fonts {
  grid-column: 1;

  & h1:nth-of-type(2) {
    font-size: var(--medium-h1);
    font-weight: var(--medium-h1-weight);
  }
  & h1:nth-of-type(3) {
    font-size: var(--large-h1);
    font-weight: var(--large-h1-weight);
  }
  & > div {
    border: 0.1rem solid var(--color-secondary1);
    margin: 2rem 1rem;
  }
}

.p_small {
  margin-top: 1rem;
  font-size: var(--little-p);
  line-height: var(--little-p-height);
}
.colors {
  grid-column: 2;
  position: sticky;
  top: 0;
}
.color_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem 0;
}
.circle {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 100%;
}
#white {
  background-color: var(--color-primary1);
  border: 1px solid var(--color-secondary1);
}
#lightblue {
  background-color: var(--color-primary2);
}
#darknavy {
  background-color: var(--color-secondary1);
  color: var(--color-primary1);
}
#lightnavy {
  background-color: var(--color-secondary2);
  color: var(--color-primary1);
}
#orange {
  background-color: var(--color-accent1);
}
